@using AdminPanel.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    Dictionary<int, string> inAkta = (Dictionary<int, string>)ViewData["InAkta"];
    InAktaPodvrsta podvrsteInAkta = (InAktaPodvrsta)ViewData["PodvrsteInAkta"];
    IEnumerable<RubrikaInAkta> rubrikeInAkta = (IEnumerable<RubrikaInAkta>)ViewData["RubrikeInAkta"];
}

<h4>
    Архивирана Ин Акта
</h4>

<div style="margin-left:5%; margin-bottom:50px;">
    @*@Html.ActionLink("Измени", "Edit", new { id = Model.InAkta.Id }) |*@
    <a asp-action="Index">Врати се на листу ин акта</a>
</div>
<ul>
    @foreach (RubrikaInAkta r in rubrikeInAkta)
    {
        <li>
            <p>@r.Naziv</p>
            <ul>
                @foreach (var i in inAkta)
                {
                <li>
                    <a href="~/InAkta/Details/@i.Key">@i.Value</a>| <a href="~/InAkta/Delete/@i.Key" onclick="return confirm('Да ли сте сигурни да желите да избришете Ин Акта - @i.Value ?')"><span style="color:red;">Избриши</span></a>
                </li>
                }
            </ul>
        </li>
    }
</ul>