
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<p>
    <a href="~/InAkta/Prosveta" class="btn btn-lg btn-success" style="margin-left:25%;">Ин Акта ПРОСВЕТА</a>
    <a href="~/InAkta/JavniSektor" class="btn btn-lg btn-success" style="margin-left:20%;">Ин Акта ЈАВНИ СЕКТОР</a>
</p>
<br />
<p>
    <a href="~/InAkta/CreatePodpodpodpodrubrika" style="font-size:25px;" class="btn btn-block btn-danger">Креирај подподподподрубрику за ин акта</a>
    <a href="~/InAkta/CreatePodpodpodrubrika" style="font-size:25px;" class="btn btn-block btn-danger">Креирај подподподрубрику за ин акта</a>
    <a href="~/InAkta/CreatePodpodrubrika" style="font-size:25px;" class="btn btn-block btn-danger">Креирај подподрубрику за ин акта</a>
    <a href="~/InAkta/CreatePodrubrika" style="font-size:25px;" class="btn btn-block btn-danger">Креирај подрубрику за ин акта</a>
    <a href="~/InAkta/CreateRubrika" style="font-size:25px;" class="btn btn-block btn-danger">Креирај рубрику за ин акта</a>
    <a href="~/InAkta/CreatePodvrsta" style="font-size:25px;" class="btn btn-block btn-danger">Креирај подврсту за ин акта</a>
    <a href="~/InAkta/Create" style="font-size:25px;" class="btn btn-block btn-danger">Креирај ин акта</a>
</p>