@using AdminPanel.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    Dictionary<int, string>  inAkta = (Dictionary<int, string>)ViewData["InAkta"];
    InAktaPodvrsta podvrsteInAkta =(InAktaPodvrsta) ViewData["PodvrsteInAkta"];
    IEnumerable<RubrikaInAkta> rubrikeInAkta = (IEnumerable<RubrikaInAkta>)ViewData["RubrikeInAkta"];

}

<h4>
    МОДЕЛИ ОПШТИХ И ПОЈЕДИНАЧНИХ АКАТА, ДОКУМЕНАТА И УГОВОРА
</h4>

<div style="margin-left:5%; margin-bottom:50px;">
    @*@Html.ActionLink("Измени", "Edit", new { id = Model.SudskaPraksa.Id }) |*@
    <a asp-action="Index">Врати се на листу ин акта</a>
</div>
<ul>
    @foreach(RubrikaInAkta r in rubrikeInAkta)
    {
    <li>
        <p>@r.Naziv</p>
        <ul>
        @foreach (var i in inAkta)
        {
            <li>
                <a href="~/InAkta/Details/@i.Key">@i.Value</a>
            </li>
        }
       </ul>
    </li>
    }
</ul>
