@model AdminPanel.Areas.Identity.Data.RubrikaPP
@using AdminPanel.Areas.Identity.Data;
@{
    ViewData["Title"] = "KreirajRubrikuPP";
}

<h1 style="margin-left:5%;">Креирај рубрику</h1>
@if (ViewBag.Msg != null)
{
    <h4 style="color:green; margin-left:5%;">@ViewBag.Msg</h4>
}
<hr />
<div class="row" style="margin-left:5%;">
    <div class="col-md-4">
        <form asp-action="KreirajRubrikuPP">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Назив рубрике</label>
                <input asp-for="NazivRubrike" class="form-control" />
                <span asp-validation-for="NazivRubrike" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Креирај" class="btn btn-primary" />
            </div>
            <div>
                <a asp-action="Index" style="margin-left:5%;">Назад на листу</a>
            </div>
        </form>
    </div>
</div>

